body {
    font-family: Tahoma, sans-serif;
    background-color:darkseagreen;
}

.main-div {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    justify-content: center;
}

#main-title {
    font-size: 60px;
}

.main-div ul {
    font-size: 25px;
}